---
import PageLayout from '../layouts/PageLayout.astro';
import GitHubStars from '../components/GitHubStars.astro';
---
<PageLayout title="AJ Markow">
  <link rel="stylesheet" href="/styles/home.css" slot="head" />
  <div class="home-grid">
    <div class="home-left">
      <GitHubStars />
    </div>

    <div class="home-center">
      <div class="about-section">
        <h2 class="about-heading">About Me</h2>
        <p>I'm AJ Markow, a software engineer and tech enthusiast. It all started when I got my <a href="https://en.wikipedia.org/wiki/IMac_G4" target="_blank" rel="noopener noreferrer">first Mac</a>. From then on, I knew working with computers was for me, and was soon building Geocities sites whilst learning CSS. At Recharge, I help merchants grow their businesses through solving tough technical challenges.</p>
        <h2 class="about-heading">Languages & Tools</h2>
        <ul class="about-list">
          <li>JavaScript</li>
          <li>Node.js</li>
          <li>HTML & CSS</li>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>React</li>
        </ul>
        <h2 class="about-heading">Certifications</h2>
        <ul class="about-list single">
          <li>AWS Cloud Practitioner</li>
          <li>Salesforce Administrator</li>
          <li>Shopify Foundations</li>
        </ul>
      </div>
    </div>

    <div class="home-right">
      <!-- reserved for future content -->
    </div>
  </div>
</PageLayout>
